.vs/PlowerMil/v15/Server/sqlite3/db.lock
.vs/PlowerMil/v15/Server/sqlite3/storage.ide
.vs/PlowerMil/v15/Server/sqlite3/storage.ide-shm
.vs/PlowerMil/v15/Server/sqlite3/storage.ide-wal
Temp/UnityLockfile
